<style>
    td a{
        display: block;
        margin: 3px;
    }
</style>
<div class="main_hd">
    <h2>书库管理</h2>
    <div class="title_tab">
        <ul class="tab_navs title_tab">
            <li class="tab_nav first js_top  {if condition='$type==null'}selected {/if}"><a href="/admin/book" >全部书籍</a></li>
            <li class="tab_nav js_top {if condition='$type==1'}selected {/if}"><a href="/admin/book?type=1">已上架</a></li>
            <li class="tab_nav js_top {if condition='$type=="0"'}selected {/if}"><a href="/admin/book?type=0" >已下架</a></li>
            <li class="tab_nav js_top {if condition='$type==2'}selected {/if}"><a href="/admin/book?type=2" >已出租</a></li>
            <li class="tab_nav js_top {if condition='$type==3'}selected {/if}"><a href="/admin/book?type=3" >已出售</a></li>
        </ul>
    </div>
</div>
<div class="main_bd">
    <a class="btn btn_primary" style="margin-bottom:20px " href="/admin/book/create">新增</a>
    <table class="city_list">
        <tr>
            <td width="50px">序号</td>
            <td>封面</td>
            <td>书名</td>
            <td>作者</td>
            <td>简介</td>
            <td width="80px">状态</td>
            <td>二维码</td>
            <td>操作</td>
        </tr>
        {volist name="list" id = "x"}
        <tr>
            <td>{$i+$perPage*($currentPage-1)}</td>
            <td><img width="100px" height="150px" src="{$x.model.cover_img}"></td>
            <td>{$x.model.name}</td>
            <td>{$x.model.auther}</td>
            <td>{$x.model.intro}</td>
            <td>
                {switch name="x.status"}
                {case value="0"}<span style="color: #ff5500">未上架</span>{/case}
                {case value="1"}<span style="color: #4FAB1C">已上架</span>{/case}
                {case value="2"}已出租{/case}
                {default /}
                {/switch}
            </td>
            <td><img width="100px" src="/admin/book/qrcode/id/{$x.id}"></td>
            <td>
                <a class="btn btn_primary" href="javascript:;" onclick="putaway('{$x.id}')">上架</a>
                <a class="btn btn_primary" href="/admin/book/edit/id/{$x.id}">修改</a>
                <a class="btn" href="/admin/book/delete/id/{$x.id}">删除</a>
            </td>
        </tr>
        {/volist}
    </table>
    <div class="page">{$list->render()}</div>

    <script>
        function  putaway(id) {
            if(confirm("是否确认上架？")){
                var param = {status:1};
                $.post("/admin/book/update/id/"+id,param , function(data,status){
                    window.location.href = '/admin/book';
                });
            }
        }
    </script>

</div>
