<style type="text/css">
    * {
        margin: 0;
        padding: 0px;
    }

    .calendar_btn {
        margin-top: 10px;
        padding: 0px 5px;
        width: 140px;
        height: 30px;
        line-height: 30px;
        border-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer;
        text-align: center;
    }
</style>
<script>
    function AjaxTime(houseId, roomId) {
        $.get("/api/price_calendar?hotel_id=" + houseId + "&room_id=" + roomId, function (data) {
            if (data.code == 100) {
                pickerEvent.setPriceArr(data.data['price_calendar']);
            }
            pickerEvent.Init(houseId, roomId, "calendar_" + roomId, 0);
        });
    }
</script>
<div class="main_hd">
    <h2>客栈房间</h2>
    <div class="title_tab">
        <ul class="tab_navs title_tab">
            <li class="tab_nav first js_top selected"><a href="javascript:void(0);">套间管理</a></li>
        </ul>
    </div>
</div>
<div class="main_bd">
    <a class="btn btn_primary" href="/admin/room/create?hotel_id={$houseId}">添加套间</a>

    {volist name="list" id="model"}
    <div style="overflow: hidden;margin-top: 10px;border:1px solid #eee;padding: 10px">

        <div style="float: left;">
            <img width="200px" height="160px" src="{$model.img[0]['url']}">
        </div>
        <div style="float: left;margin-left: 20px">
            <div>房号：202</div>
            <div>名称：{$model.name}</div>
            <div>主题：{$model.theme}</div>
            <div>价格：¥{$model.price}</div>
        </div>
        <div style="float: left;margin-left: 80px">
            <input id="calendar_{$model.id}" class="calendar_btn" location="right" name="calendar"
                   readonly="readonly" onclick="AjaxTime('{$houseId}','{$model.id}');" placeholder="价格日历"/>
            <div style="margin-top: 10px">
                <a class="btn btn_primary" href="/admin/room/edit/id/{$model.id}?hotel_id={$houseId}">编辑</a>
                <a class="btn btn_primary" href="/admin/room/delete/id/{$model.id}?hotel_id={$houseId}">删除</a>
            </div>
        </div>
    </div>
    {/volist}
</div>
