<style type="text/css">
    *{margin:0;padding:0px;}
    .calendar_btn{margin-top:10px;padding:0px 5px;height:30px;line-height:30px;border-radius:3px;border:1px solid #ccc;cursor:pointer;text-align:center;}
</style>
<script>
    function AjaxTime(houseId){
        $.get("/api/room_price_calendar?house_id="+houseId,function(data) {
            if(data.code==100){
                pickerEvent.setPriceArr(data.data);
            }
            pickerEvent.Init(houseId,houseId,"calendar_"+houseId,1);
        });
    }
</script>

<div class="main_hd">
    <h2>民宿客栈</h2>
    <div class="title_tab">
        <ul class="tab_navs title_tab">
            <li class="tab_nav first js_top {if condition='$type==1'} selected {/if}"><a href="/admin/hotel/index.html?type=1">营业中</a></li>
            <li class="tab_nav first js_top {if condition='$type==-1'} selected {/if}"><a href="/admin/hotel/index.html?type=-1">未营业</a></li>
        </ul>
    </div>
</div>
<div class="main_bd">
    <a class="btn btn_primary" href="/admin/hotel/create">新增</a>

    {volist name="list" id="hotel"}
    <div class="list_item">

        <div class="left">
             <img src="{$hotel.thumb}" />
        </div>
        <div class="left" style="margin-left: 20px">
            <h4>{$hotel.name}</h4>
            <div style="position: absolute;">
                {switch name='hotel.status'}
                {case value='1'}<label style="color: green;margin-left: 450px">正在营业中...</label>{/case}
                {default}<label style="color: red;margin-left: 450px">已暂停营业</label>
                {/switch}
            </div>
            <div style="margin-top: 5px">
                <input id="calendar_{$hotel.id}" style="width: 124px" location="right" class="calendar_btn" name="calendar" readonly="readonly" onclick="AjaxTime('{$hotel.id}');" placeholder="整套价格日历"/>
            </div>
            <div style="margin-top: 10px">
                <a class="btn btn_primary" style="width: 90px" href="/admin/room?house_id={$hotel.id}">房间管理</a>
            </div>
            <div style="margin-top: 10px">
                <a class="btn btn_primary" style="width: 90px" href="/admin/hotel/edit/id/{$hotel.id}">修改民宿</a>
            </div>
            <div style="margin-top: 10px">
                {switch name='hotel.status'}
                    {case value='1'}<a class="btn btn_primary" style="width: 90px" href='javascript:toggle("{$hotel.id}","{$hotel.status}")'>停止营业</a>{/case}
                    {default/}<a class="btn" style="width: 90px" href='javascript:toggle("{$hotel.id}","{$hotel.status}")'>开启营业</a>
                {/switch}

            </div>
        </div>
    </div>
    {/volist}
    <div class="page">{$list->render()}</div>
</div>
<script>
    function toggle(id,sta) {
        var ac = "";
        if(sta == 1){
            ac = "停止";
            sta = -1;
        }else {
            ac = "开启";
            sta = 1;
        }
        if(confirm("你确认"+ac+"营业么？")){

            $.post('/admin/hotel/toggle/id/'+id,{status:sta},function (data,status) {
                if(data['code']==100){
                    window.location = "";
                }else {
                    alert("操作失败："+data['msg'])
                }
            })
        }
    }
</script>
