<div class="main_hd">
    <h2>错误日志</h2>
    <div class="title_tab">
        <ul class="tab_navs title_tab">
            <li class="tab_nav first js_top  {if condition='$type==null'} selected {/if}"><a href="/admin/error_log" id="reloadTop">全部日志</a></li>
            <li class="tab_nav js_top {if condition='$type==1'} selected {/if}"><a href="/admin/error_log?type=1" id="blackTop">小程序日志</a></li>
            <li class="tab_nav js_top {if condition='$type==2'} selected {/if}"><a href="/admin/error_log?type=2" >安卓日志</a></li>
            <li class="tab_nav js_top {if condition='$type==3'} selected {/if}"><a href="/admin/error_log?type=3" >IOS日志</a></li>
        </ul>
    </div>
</div>
<div class="main_bd">
    <table class="city_list">
        <tr>
            <td width="50px">序号</td>
            <td width="60px">来源</td>
            <td width="360px">接口</td>
            <td>信息</td>
            <td>时间</td>
        </tr>
        {volist name="list" id = "x"}
        <tr>
            <td>{$i+$perPage*($currentPage-1)}</td>
            <td>
                {switch name="x.type"}
                {case value="0"}<span style="color: #ff5500">系统</span>{/case}
                {case value="1"}<span style="color: #4FAB1C">小程序</span>{/case}
                {case value="2"}安卓{/case}
                {case value="3"}IOS{/case}
                {default /}系统
                {/switch}
            </td>
            <td align="left">{$x.api}</td>
            <td align="left">{$x.msg}</td>
            <td>{$x.create_time|date="Y-m-d H:i:s",###}</td>
        </tr>
        {/volist}
    </table>
    <div class="page">{$list->render()}</div>
</div>
