<div class="main_hd">
    <h2>租书记录</h2>
    <div class="title_tab">
        <ul class="tab_navs title_tab">
            <!-- 0初始  1出租中 2已归还 3已到期 -->
            <li class="tab_nav first js_top {if condition='$type==null'} selected {/if}"><a href="/admin/book_rent">全部记录</a></li>
            <li class="tab_nav js_top {if condition='$type==1'} selected {/if}"><a href="/admin/book_rent?type=1">出租中</a></li>
            <li class="tab_nav js_top {if condition='$type==2'} selected {/if}"><a href="/admin/book_rent?type=2">已归还</a></li>
            <li class="tab_nav js_top {if condition='$type==3'} selected {/if}"><a href="/admin/book_rent?type=3">已到期</a></li>
        </ul>
    </div>
</div>
<div class="main_bd">
    <table class="city_list">
        <tr>
            <td>序号</td>
            <td>租书人</td>
            <td>书名</td>
            <td>经办人</td>
            <td>状态</td>
            <td>租书时间</td>
        </tr>
        {volist name="list" id = "x"}
        <tr>
            <td>{$i+$perPage*($currentPage-1)}</td>
            <td>{$x.user_name}</td>
            <td>{$x.book.model.name}</td>
            <td>{$x.operator}</td>
            <td align="center">
                {switch name="x.status"}
                {case value="0"}<span style="color: #ff5500">取消租书</span>{/case}
                {case value="1"}<span style="color: #4FAB1C">租阅中...</span>{/case}
                {case value="2"}<span style="color: #4FAB1C">已据为己有</span>{/case}
                {default /}异常
                {/switch}
            </td>
            <td>{$x.rent_time|date='Y-m-d H:i',###}</td>
        </tr>
        {/volist}
    </table>
    <div class="page">{$list->render()}</div>
</div>
