<div class="main_hd">
    <h2>著书</h2>
    <div class="title_tab">
        <ul class="tab_navs title_tab">
            <li class="tab_nav first js_top  selected"><a href="javascript:void(0);" id="reloadTop">全部著书</a></li>
            <li class="tab_nav js_top"><a href="/admin/book_write/create" id="blackTop">发布著书</a></li>
        </ul>
    </div>
</div>
<div class="main_bd">
    <table class="city_list">
        <tr>
            <td>编号</td>
            <td>封面</td>
            <td>书名</td>
            <td>作者</td>
            <td>最新章节</td>
            <td>发起时间</td>
            <td>更新时间</td>
            <td>操作</td>
        </tr>
        {volist name="list" id = "x"}
        <tr>
            <td>{$x.id}</td>
            <td><img src="{$x.cover}" width="100px" height="150px"></td>
            <td>{$x.name}</td>
            <td>{$x.author}</td>
            <td>第{$x.new_chapter.sequence}章：{$x.new_chapter.content}</td>
            <td>{$x.create_time|date='Y-m-d H:i',###}</td>
            <td>{$x.new_chapter.update_time|date='Y-m-d H:i',###}</td>
            <td>
                <div style="margin: 5px"><a class="btn btn_primary" href="/admin/book_write/edit?id={$x.id}">更新</a></div>
                <div style="margin: 5px"><a class="btn btn_primary" href="#">完成</a></div>
                <div style="margin: 5px"><a class="btn btn_primary" href="/admin/book_write/delete/id/{$x.id}">删除</a></div>
            </td>
        </tr>
        {/volist}
    </table>
    <div class="page">{$list->render()}</div>

</div>
